body {
    margin: 0;
    font-family: "Proxima Nova";
}

a {
    color: rgb(28,28,28);
    text-decoration: none;
}

.main-body {
    margin: 100px auto;
    padding: 0 12px;
    max-width: 824px;
}

.nav {
    text-align: center;
}

.nav a {
    margin: 0 12px;
    font-size: 14px;
    padding-bottom: 2px;
}

.active {
    color: #1c1c1c;
    border-bottom: solid 2px;
}

.title {
    color: #1c1c1c;
    font-family: "garamond-premier-pro-display";
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
}

@media (max-width: 600px) {
    .main-body {
        margin: 0;
    }
    .title {
        font-size: 48px;
    }
}