.baby-image {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 52px;
    height: 60vh;
}

@media (max-width: 600px) {
    .baby-image {
        margin-top: 25px;
        height: 45vh;
    }
}

.intro {
    margin: 50px 0;
    text-align: center;
}