---
script:
- ./js/photos.js
stylesheet:
- ./css/photos.css
photo:
- true
---

{{#extend "base"}}
    {{#content "main"}}
        <div class="photos">
            {{#each files}}
                <div class="image-wrapper">
                    <a class="image-link" href="{{{thumbnail}}}">
                        <img class="image-img" data-src={{{thumbnail}}} src="data:image/jpg;base64,{{{base64}}}">
                        <a class="download-link" href="{{{photo}}}" download>
                            <img src="./images/icon.svg">
                        </a>
                    </a>
                </div>
            {{/each}}
        </div>
        <div style="display: none" id="modal" class="modal">
            <div class="modal-inner">
                <div class="modal-content" id="modal-content"></div>
                <button id="modal-close-btn" class="close-button">✖</button>
            </div>
        </div>
    {{/content}}
{{/extend}}